<div>
  <!--    Context Classes  -->
  <div class="panel panel-default">

      <div class="panel-heading">
          World map info
      </div>

      <div class="panel-body">
          <div class="table-responsive">
              <table class="table">
                  <thead>
                      <tr>
                          <th>CONTINENTS</th>
                          <th>countries</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="success">
                          <td>1</td>
                          <td>AFRICA</td>
                          <td>54</td>
                      </tr>
                      <tr class="info">
                          <td>2</td>
                          <td>ASIA</td>
                          <td>50</td>
                      </tr>
                      <tr class="warning">
                          <td>3</td>
                          <td>EUROPE</td>
                          <td>51</td>
                      </tr>
                      <tr class="danger">
                          <td>4</td>
                          <td>N.AMERICA </td>
                          <td>23</td>
                      </tr>
                      <tr class="danger">
                          <td>4</td>
                          <td>S.AMERIA </td>
                          <td>12</td>
                      </tr>
                      <tr class="warning">
                          <td>4</td>
                          <td>ANTARTICA</td>
                          <td>-</td>
                      </tr>
                      <tr class="info">
                          <td>4</td>
                          <td>AUSTRALIA</td>
                          <td>-</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  <!--  end  Context Classes  -->
</div>


<h2 class="head">USA states-(50)</h2>
<ul>
  <li *ngFor="let count of usaCountries">{{count}}</li>
</ul>
<h2 class="head"> EUROPE-</h2>

<ul>
  <li *ngFor="let i of europeCountries">{{i}}</li>
</ul>
<h2 class="head"> ASIA--</h2>

<ul>
  <li *ngFor="let i of asiaCountries">{{i}}</li>
</ul>
<h2 class="head"> AFRICA Countries-</h2>

<ul>
  <li *ngFor="let i of africaCountries">{{i}}</li>
</ul>
<h2 class="head"> N.AMERICA COUNTRIES-</h2>

<ul>
  <li *ngFor="let i of northCOuntries">{{i}}</li>
</ul>
<h2 class="head"> S.AMERICA COUNTRIES-</h2>

<ul>
  <li *ngFor="let i of southCountries">{{i}}</li>
</ul>

<h2 class="head"> Australia States(6 federal states,3 territories) -</h2>

<ul>
  <li *ngFor="let i of ausStates">{{i}}</li>
</ul>

<h2 class="head"> Germany States-</h2>

<ul>
  <li *ngFor="let i of germnyStates">{{i}}</li>
</ul>

<h2 class="head"> Netherland or holland Provinces(12)</h2>

<ul>
  <li *ngFor="let i of netherlandpro">{{i}}</li>
</ul>


